{% extends "base.html" %}
{% block body %}
{% load widget_tweaks %}
    <div class="w-96 mt-20 flex flex-col p-10 bg-white drop-shadow">
        <div class="text-center">
            <h2>Register</h2>
        </div>
        <form method="post">
        {% csrf_token %}
        {% for component in form %}
        <div class="flex flex-col space-y-2 my-3 ">
            <label for="">{{component.label }}</label>
            {% render_field component class='my-3 border px-2 py-2' autocomplete="off"%}
        </div>
        {% endfor %}
        <div class="flex flex-row space-x-2 mt-4">
            <button class="bg-stone-800 text-white p-2 rounded" type="submit">Register</button>
            <a href="{% url 'login' %}">
                <button class="bg-stone-800 text-white p-2 rounded" type="button" >Kembali Ke Login</button>
            </a>
        </div>
    </form>
    </div>
{% endblock %}